/*
CSS RESET
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
END CSS RESET
*/

input.longField {
    width: 350px;
}

#atmosAboutPage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 360px;
    margin-top: -75px;
    margin-left: -180px;
    border: 1px solid #555;
    border-radius: 8px;
    border-collapse: collapse;
    box-shadow: 2px 3px 5px #555;
    background-color: #e8e8e8;
    z-index: 10000;
    padding: 8px;
    text-align: center;
    font: 13px Arial, sans-serif;
}

#atmosAboutPage .atmosAboutTitle {
    font-size: 14px;
    font-weight: bold;
}

#atmosAboutPage .featureList {
    display: inline-block;
    width: 210px;
    margin: 8px 8px 14px 8px;
    border: 1px solid black;
    background-color: #fff;
    padding: 4px;
    text-align: center;
    font-size: 12px;
}

#atmosAboutPage li {
    text-align: left;
    margin: 2px;
}

#atmosAboutPage .disabledFeature {
    font-style: italic;
    text-decoration: line-through;
    color: #999;
}

#atmosLicense {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-top: -300px;
    margin-left: -250px;
    border: 1px solid #555;
    border-radius: 8px;
    border-collapse: collapse;
    box-shadow: 2px 3px 5px #555;
    background-color: #e8e8e8;
    z-index: 15000;
    padding: 8px;
    font: 11pt arial, sans-serif;
}

#atmosLicense ul {
    list-style: disc;
    margin: 6px 2px;
    padding: 2px;
}

#atmosLicense li {
    margin-left: 16px;
}

.atmosBrowser {
    position: relative;
    height: 100%;
    background-color: #e8e8e8;
    border-collapse: collapse;
    font: 10pt arial, sans-serif;
    border-radius: 8px 8px 0 0;
    box-shadow: 2px 3px 5px #555;
}

.atmosTitleBar {
    height: 18px;
    background: #555;
    background: -webkit-linear-gradient(top, #aaa, #000);
    background: -moz-linear-gradient(top, #aaa, #000);
    background: -o-linear-gradient(top, #aaa, #000);
    background: -ms-linear-gradient(top, #aaa, #000);
    background: linear-gradient(top, #aaa, #000);
    border-radius: 8px 8px 0 0;
    padding: 8px 10px;
    font: bold 11pt arial, sans-serif;
    color: #fff;
    cursor: default;
}

.atmosTitle {
    display: inline-block;
    overflow: hidden;
}

.atmosTitleBar .atmosXButton {
    display: inline-block;
    float: right;
    width: 16px;
    height: 16px;
    background: #aaa;
    margin-top: -3px;
    margin-left: 5px;
    border: 1pt solid #777;
    border-radius: 8px;
    vertical-align: top;
    font: bold 10pt arial, sans-serif;
    color: #333;
    text-align: center;
    line-height: 1.4;
    text-transform: uppercase;
    cursor: pointer;
}

.atmosTitleBar .configGear {
    font-size: 12pt;
    line-height: 1;
}

.atmosButtonBar {
    font-size: 0;
}

.apiLink {
    float: right;
    margin: 3px 15px 3px 0;
    text-decoration: underline;
    cursor: pointer;
}

.atmosLocationField {
    width: 75%;
    margin: 2px 4px 0 2px;
    font-size: 10pt;
}

.atmosUploadContainer {
    position: relative;
    display: inline-block;
    width: 56px;
    overflow: hidden;
    vertical-align: top;
}

.atmosUploadField {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.0;
    filter: alpha(opacity=0);
    z-index: 1000;
}

.atmosFilterContainer {
    font-size: 0;
}

.atmosFilterField {
    margin: 3px -2px 0 1px;
    width: 80px;
}

.atmosLabel {
    display: inline-block;
    padding: 3px 6px;
}

.atmosButton {
    display: inline-block;
    width: auto;
    background: #e0e0e0;
    background: -webkit-linear-gradient(top, #fff, #ccc);
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: -o-linear-gradient(top, #fff, #ccc);
    background: -ms-linear-gradient(top, #fff, #ccc);
    background: linear-gradient(top, #fff, #ccc);
    margin: 2px 3px;
    padding: 3px 4px;
    border: 1pt solid #777;
    border-radius: 4px;
    vertical-align: top;
    font: bold 8pt arial, sans-serif;
    color: #444;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.atmosFileList {
    position: absolute;
    top: 86px;
    bottom: 0;
    width: 100%;
    height: auto;
    cursor: default;
}

.atmosFileList .body {
    position: absolute;
    top: 22px;
    bottom: 0;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.atmosFileList .table {
    table-layout: fixed;
}

.atmosFileList .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.atmosStatusMessage {
    position: absolute;
    left: 50%;
    top: 3px;
    width: 400px;
    margin-left: -200px;
    border: 1px solid black;
    padding: 5px 10px;
    background-color: #999;
    text-align: center;
}

.atmosBrowser .atmosDropTarget.targetActive {
    border: 1px solid #0f0;
}

.atmosBrowser .table,
.atmosModalWindow .table {
    width: 100%;
    display: table;
}

.atmosBrowser .table .row,
.atmosModalWindow .table .row {
    display: table-row;
    background-color: #fff;
}

.atmosBrowser .table .row:nth-child(even),
.atmosModalWindow .table .row:nth-child(even) {
    background-color: #f0f0f0;
}

.atmosBrowser .table .loading {
    padding: 2px 8px;
}

.atmosBrowser .table .row .cell,
.atmosModalWindow .table .row .cell {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 2px 6px;
    vertical-align: middle;
}

.atmosBrowser .table .row h4.cell,
.atmosBrowser .table .row th.cell,
.atmosModalWindow .table .row h4.cell,
.atmosModalWindow .table .row th.cell {
    background: #eee;
    background: -webkit-linear-gradient(top, #fff, #ddd);
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -o-linear-gradient(top, #fff, #ddd);
    background: -ms-linear-gradient(top, #fff, #ddd);
    background: linear-gradient(top, #fff, #ddd);
    border: 1px solid #aaa;
    padding: 3px 6px 2px 6px;
    font: bold 10pt arial, sans-serif;
}

.atmosBrowser .table .row th.atmosHeaderSpacer {
    background: #e8e8e8;
    border: none;
    padding: 0;
}

.atmosBrowser .table .row.selected,
.atmosModalWindow .table .row.selected,
.atmosDirectoryItem.selected {
    color: #fff;
    background-color: #06c;
}

.atmosBrowser .table .row .cell.atmosIcon {
    width: 20px;
    padding: 1px;
}

.atmosFileName {
    width: auto;
    min-width: 150px;
}

.atmosFileSize {
    width: 100px;
    max-width: 100px;
}

.atmosFileType {
    width: 150px;
    max-width: 150px;
    text-transform: capitalize;
}

.atmosFileDate {
    width: 200px;
    max-width: 200px;
}

.atmosStatusBar {
    width: 0;
    height: 15px;
    background-color: #85c2ff;
    text-align: center;
}

/* Icons */
.atmosFileList .cell .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -ms-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.atmosFileList .cell .icon.regular {
    background-image: url(../images/document.png);
}

.atmosFileList .cell .icon.tag {
    background-image: url(../images/folder.png);
}

.atmosFileList .cell .icon.directory {
    background-image: url(../images/folder.png);
}

.atmosFileList .cell .icon.doc,
.atmosFileList .cell .icon.docx {
    background-image: url(../images/doc.png);
}

.atmosFileList .cell .icon.gif {
    background-image: url(../images/gif.png);
}

.atmosFileList .cell .icon.jpg,
.atmosFileList .cell .icon.jpeg {
    background-image: url(../images/jpg.png);
}

.atmosFileList .cell .icon.mov {
    background-image: url(../images/mov.png);
}

.atmosFileList .cell .icon.mp4 {
    background-image: url(../images/mp4.png);
}

.atmosFileList .cell .icon.pdf {
    background-image: url(../images/pdf.png);
}

.atmosFileList .cell .icon.png {
    background-image: url(../images/png.png);
}

.atmosFileList .cell .icon.ppt,
.atmosFileList .cell .icon.pptx {
    background-image: url(../images/ppt.png);
}

.atmosFileList .cell .icon.txt {
    background-image: url(../images/txt.png);
}

.atmosFileList .cell .icon.wmv {
    background-image: url(../images/wmv.png);
}

.atmosFileList .cell .icon.xls,
.atmosFileList .cell .icon.xlsx {
    background-image: url(../images/xls.png);
}

/* END Icons */

.atmosModalBackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #777;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 1000;
}

.atmosModalWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-top: -175px;
    margin-left: -250px;
    border: 1px solid #555;
    border-radius: 8px 8px 0 0;
    border-collapse: collapse;
    box-shadow: 2px 3px 5px #555;
    background-color: #e8e8e8;
    z-index: 10000;
}

.atmosModalWindowContent {
    max-height: 450px;
    overflow: auto;
    padding: 8px;
    font: 10pt sans-serif;
}

.atmosTableWrapper {
    clear: both;
    padding: 4px;
    margin: 4px 0 6px 0;
}

.atmosTableTitle {
    display: inline-block;
    margin: 6px 8px 0px 4px;
    font-weight: bold;
    font-size: 10pt;
}

.atmosModalWindow .atmosPropertiesTable {
    margin-top: 4px;
}

.atmosPropertyName {
    width: 25%;
}

.atmosPropertyValue {
    width: auto;
}

input.atmosPropertyValue {
    width: 98%;
}

.atmosModalWindow .table .row .atmosButtonCell {
    width: 55px;
    background-color: #e8e8e8;
    border: none;
    padding: 0;
}

.atmosExpirationCount,
.atmosDownloadCount {
    width: 50px;
}

.atmosTableCaption {
    margin: 0 8px 10px 8px;
    text-align: center;
    font-size: 8pt;
}

.atmosShareInstructions {
    margin: 10px 0;
    padding: 3px 6px;
    font-size: 9pt;
    line-height: 110%;
}

.atmosShareUrl {
    min-height: 50px;
    background-color: #fff;
    margin: 2px;
    border: 1px solid black;
    padding: 5px 8px;
    font-size: 9pt;
    word-wrap: break-word;
}

.atmosAclName {
    width: auto;
}

.atmosAclFC {
    width: 40px;
    text-align: center;
}

.atmosAclWRITE {
    width: 40px;
    text-align: center;
}

.atmosAclREAD {
    width: 40px;
    text-align: center;
}

.atmosAclNONE {
    width: 40px;
    text-align: center;
}

.transparent {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.atmosContextMenu {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    padding: 3px 0;
    background-color: #e8e8e8;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #777;
    cursor: default;
}

.atmosContextMenuOption {
    padding: 2px 3px;
    font: 9pt arial, sans-serif;
    color: black;
    cursor: pointer;
}

.atmosContextMenuOption:hover {
    color: #fff;
    background-color: #06c;
}

.atmosDirectoryDisplay {
    display: inline-block;
    width: 250px;
    background-color: #fff;
    margin: 0 4px;
    border: 1px solid black;
    padding: 2px 4px;
    font-size: 13px;
}

.atmosDirectoryListContainer {
    height: 300px;
    overflow-y: scroll;
    background-color: #fff;
    margin: 5px 10px;
    border: 1px solid black;
}

.atmosDirectoryItem {
    padding: 2px 4px;
    cursor: default;
}

.atmosSelectedDisplay {
    margin: 8px 12px;
}

.hidden {
    display: none;
}

[draggable=true] {
    -webkit-user-drag: element;
    -moz-user-drag: element;
    -o-user-drag: element;
    -ms-user-drag: element;
    user-drag: element;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[unselectable=on] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
